<div class="section" id="russian-pos">
	<span id="id2"></span><h2>Часть речи<a class="headerlink" href="#russian-pos" title="Permalink to this headline">¶</a></h2>
	<div class="wy-table-responsive">
		<table border="1" class="docutils">
			<colgroup>
				<col width="14%">
				<col width="40%">
				<col width="46%">
			</colgroup>
			<thead valign="bottom">
				<tr class="row-odd">
					<th class="head">Граммема</th>
					<th class="head">Значение</th>
					<th class="head">Примеры</th>
				</tr>
			</thead>
			<tbody valign="top">
				<tr class="row-even">
					<td>NOUN</td>
					<td>имя существительное</td>
					<td>хомяк</td>
				</tr>
				<tr class="row-odd">
					<td>ADJF</td>
					<td>имя прилагательное (полное)</td>
					<td>хороший</td>
				</tr>
				<tr class="row-even">
					<td>ADJS</td>
					<td>имя прилагательное (краткое)</td>
					<td>хорош</td>
				</tr>
				<tr class="row-odd">
					<td>COMP</td>
					<td>компаратив</td>
					<td>лучше, получше, выше</td>
				</tr>
				<tr class="row-even">
					<td>VERB</td>
					<td>глагол (личная форма)</td>
					<td>говорю, говорит, говорил</td>
				</tr>
				<tr class="row-odd">
					<td>INFN</td>
					<td>глагол (инфинитив)</td>
					<td>говорить, сказать</td>
				</tr>
				<tr class="row-even">
					<td>PRTF</td>
					<td>причастие (полное)</td>
					<td>прочитавший, прочитанная</td>
				</tr>
				<tr class="row-odd">
					<td>PRTS</td>
					<td>причастие (краткое)</td>
					<td>прочитана</td>
				</tr>
				<tr class="row-even">
					<td>GRND</td>
					<td>деепричастие</td>
					<td>прочитав, рассказывая</td>
				</tr>
				<tr class="row-odd">
					<td>NUMR</td>
					<td>числительное</td>
					<td>три, пятьдесят</td>
				</tr>
				<tr class="row-even">
					<td>ADVB</td>
					<td>наречие</td>
					<td>круто</td>
				</tr>
				<tr class="row-odd">
					<td>NPRO</td>
					<td>местоимение-существительное</td>
					<td>он</td>
				</tr>
				<tr class="row-even">
					<td>PRED</td>
					<td>предикатив</td>
					<td>некогда</td>
				</tr>
				<tr class="row-odd">
					<td>PREP</td>
					<td>предлог</td>
					<td>в</td>
				</tr>
				<tr class="row-even">
					<td>CONJ</td>
					<td>союз</td>
					<td>и</td>
				</tr>
				<tr class="row-odd">
					<td>PRCL</td>
					<td>частица</td>
					<td>бы, же, лишь</td>
				</tr>
				<tr class="row-even">
					<td>INTJ</td>
					<td>междометие</td>
					<td>ой</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>